.leaflet-popup-content {
    color: var(--purple);
    font-size: 2rem;
    font-weight: 700;
    margin: 0.8rem 1.2rem;
    display: grid;
    grid-template-columns: 9fr 1fr;

    p {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    a {
        width: 4.8rem;
        height: 4.8rem;
        background-color: var(--purple);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        align-self: center;
        transition: 300ms;

        label {
            color: var(--white);
            cursor: pointer;
        }
    }

    a:hover {
        transform: scale(1.1);
    }
}